@import '../base/variables.scss';

.gallery{
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 20rem 5rem 10rem 5rem;
    margin-top: -20rem;
    // background-color: red;
    background-color: black;
    z-index: 5;
    position: relative;
    max-width: 100vw;
    // height issue
    height: 80rem;
    clip-path: polygon(1% 0, 99% 0, 99% 69%, 1% 100%);
}
.imagesPart{
position: relative;
display: flex;
flex-direction: row;
align-items: start;
width: 100%;
height: 100%;
}
.part1{
    width: 40%;
    
}
.part1 #video{ 
    width: 76%;
    height: 100%;
    margin-left: 2rem;
}
.part2{
    width: 60%;
    position: relative;
    transform:translateX(25rem)
}
// .imagesPasrt .part2 #commonPhoto{
//     position: absolute;
//     top: -180px;
//     right: 10rem;
//     z-index: 10;
// }
img#commonPhoto {
    position: absolute;
    right: 28rem;
    top: -35rem;
    z-index: 30 !important;
    transform: rotateZ(8deg);
    transition: all 2s;
}
img#commonPhoto:hover {
    // transform: rotateZ(0deg);
    outline: 1rem solid $color_bottons;
    transform: scale(1.05) translateY(-0.5rem) rotateZ(0deg);
    box-shadow: 0 2.5rem 4rem rgb(0 0 0 / 50%);
    z-index: 3;
    cursor: pointer;
    padding: 2rem;
    border-radius: 1.5rem;
}
img#image1{
    position: absolute;
    right: 72rem;
}
img#image2{
    position: absolute;
    right: 56rem;
    top: -2rem;
    transform: rotateY(-20deg);
}
img#image3{
    position: absolute;
    right: 38rem;
    top: -5rem;
    transform: rotateZ(20deg)
}
img#image4{
    position: absolute;
    right: 33rem;
    top: 15rem;
}
img#image5{
    position: absolute;
    right: 69rem;
    top: 16rem;
    
}
img#image6{
    position: absolute;
    right: 50rem;
    top: 21rem;
    transform: rotateZ(45deg);
}
.imagesHover{
    transition: all 2s;
    outline: 0rem solid $color_bottons;
}
.imagesHover:hover{
    outline: 1rem solid $color_bottons;
    transform: scale(1.05) translateY(-0.5rem);
    box-shadow: 0 2.5rem 4rem rgb(0 0 0 / 50%);
    z-index: 3;
    cursor: pointer;
    padding: 2rem;
    border-radius: 1.5rem;
    transform: rotateZ(0deg) !important;
    transform: rotateY(0deg) !important;
}

@media (min-width:1219px){
    .gallery{
        overflow-x: hidden;
        overflow-y: hidden;
        padding: 20rem 5rem 10rem 5rem;
        margin-top: -20rem;
        // background-color: red;
        background-color: black;
        z-index: 5;
        position: relative;
        max-width: 100vw;
        height: 100%;
        clip-path: polygon(1% 0, 99% 0, 99% 69%, 1% 100%);
    } 
}

@media (max-width:1219px){
    .imagesPart {
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: start;
        width: 100%;
        height: 100%;
        margin-top: -19rem;
    }
}
@media (max-width:1219px){
    .part1 {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        // margin-left: 16rem;
        
    }
}
@media (max-width:1219px){
    .part1 #video {
    width: 77%;
    height: 50%;
    margin-top: 14rem;
    }
}
@media (max-width:1219px){
    .part2 {
        /* width: 60%; */
        position: relative;
        transform: translateX(25rem);
    }
}
@media (max-width:1219px){
    img#commonPhoto {
       display:none;
    }
}
@media (max-width:1219px){
    img#image1 {
        position: absolute;
        right: 65rem;
        bottom: -9rem;
    }
}
@media (max-width:1219px){
    img#image2 {
        position: absolute;
        right: 38rem;
        top: -20rem;
        transform: rotateY(-20deg);
    }
}
@media (max-width:1219px){
    img#image3 {
        position: absolute;
        right: 8rem;
        top: -22rem;
        transform: rotateZ(20deg);
    }
}
@media (max-width:1219px){
    img#image4 {
        display:none
    }
}
@media (max-width:1219px){
    img#image5 {
        display:none
    }
}
@media (max-width:1219px){
    img#image6 {
        display:none
    }
}
@media (max-width:1110px){
    img#image1 {
        position: absolute;
        right: 56rem;
        bottom: -9rem;
    }
}
@media (max-width:1110px){
    img#image2 {
        position: absolute;
        right: 29rem;
        top: -16rem;
        transform: rotateY(-20deg);
    }
}
@media (max-width:1110px){
    img#image3 {
        position: absolute;
        right: 9rem;
        top: -15rem;
        transform: rotateZ(20deg);
    }
}
@media (max-width:1110px){
    img#image1 {
        position: absolute;
        right: 46rem;
        bottom: -9rem;
    }
}
@media (max-width:749px){
    .part2 {
        position: relative;
        transform: translateX(25rem);
        margin-top: -18rem;
    }
}