@import '../base/variables.scss';


.home{
    // background-color: $color_primary_dark;
    background-image: 
    linear-gradient(to right bottom,
    rgba($background_color, 0.8),
    rgba($color_hover_btn, 0.8)),
    url('../../img/image3.jpg');
    // opacity: 0.75;
    // background-image: url('../../img/image3.jpg');
    max-width: 100vw;
    height: 100vh;
    position: relative;
    background-position: top;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // overflow-x: hidden;
    // clip-path: polygon(0 0, 100% 0, 100% 76%, 0 100%);
    clip-path: polygon(1% 1%, 99% 1%, 99% 75%, 1% 100%);
    z-index: 7;
}

.home h1{
    text-transform: uppercase;
    letter-spacing: 1rem;
    margin-bottom: 6rem;
}
.home h4{
    margin-bottom: 6rem;
}
.home .btn:hover{
    background-color: $color_hover_btn;
    color: $fonts_colors_main;
    font-weight: bold;
}
