@import '../base/variables.scss';


.services{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    height: 100vh;
    clip-path: polygon(1% 1%, 99% 1%, 99% 75%, 1% 100%);
    background-image: linear-gradient(to right bottom,
    rgba($background_color, 0.8),
    rgba($color_hover_btn, 0.8));
    margin-top: -36rem;
    padding: 10rem 0rem 12rem 3rem;
    z-index: 3;
}
.services .rowServices{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    cursor: pointer;
}
.services .rowServices .col{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    max-width: 20%;
    border-radius: 1.5rem;
    height: 26vh;
    text-align: center;
    padding: 3rem;
    transition: all 2s;
}
.services .rowServices .col:hover{
    transform: scale(1.05) translateY(-1.5rem);
}
.headingServices{
    color: white;
}
p{
    color: white;
}
h1,h2{
    @include textHeading;
    font-family: $font-family-primary;
    padding-bottom: 4rem;
}

h4.headingServices {
    font-size: 2rem;
    letter-spacing: 1;
    padding-bottom: 2rem;
    width: 100%;
}
i.fa-solid.fa-building{
    position: absolute;
    top: -1rem !important;
}
i.fa-solid.fa-dragon{
    position: absolute;
    top: -1rem !important;
}

@media (max-width:944px){
    h4.headingServices {
        font-size: 1.5rem;
        letter-spacing: 1;
        padding-bottom: 2rem;
        width: 100%;
    }
    .col p{
        font-size: 1.2rem;
    }
}
@media (max-width:761px){
    .services {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 100vw;
        height: 230vh;
        clip-path: polygon(1% 1%, 99% 1%, 99% 75%, 1% 100%);
        background-image: linear-gradient(to right bottom, rgba(200, 213, 216, 0.8), rgba(182, 199, 203, 0.8));
        margin-top: -50rem;
        padding: 10rem 0rem 12rem 3rem;
        z-index: 3;
    }
    .services .rowServices {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        cursor: pointer;
        margin-right: 3rem;
    }
    .services .rowServices .col {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: black;
        max-width: 50%;
        border-radius: 1.5rem;
        height: 40vh;
        text-align: center;
        /* padding: 3rem; */
        margin-bottom: 4rem;
        transition: all 2s;
    }
    h4.headingServices {
        font-size: 2.5rem;
        letter-spacing: 1;
        margin-top: 4rem;
        // padding-bottom: 5rem;
        width: 100%;
    }
    .col p{
        font-size: 1.8rem;
    }
}
